
@{
    ViewBag.Title = "Development";
}

<h2>開発手順</h2>

<h3>目的</h3>
<p>
    WEBシステム開発手順を標準化し、開発及び仕様変更スピードを向上させる。
</p>

<h3>適用範囲</h3>
<p>WEBアプリケーション開発に適用する。</p>

<h3>開発手順</h3>
<div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>段階</th>
            <th>業務</th>
            <th>成果物</th>
        </tr>
        <tr>
            <td>企画</td>
            <td>基本構想設計</td>
            <td>プロジェクト計画書、運用手順書（案）、基本構想設計書</td>
        </tr>
        <tr>
            <td>計画</td>
            <td>外部設計</td>
            <td>外部設計書</td>
        </tr>
        <tr>
            <td></td>
            <td>試作</td>
            <td>モックアップ</td>
        </tr>
        <tr>
            <td>DR-1</td>
            <td>‐</td>
            <td>‐</td>
        </tr>
        <tr>
            <td>設計</td>
            <td>詳細設計</td>
            <td>詳細設計書</td>
        </tr>
        <tr>
            <td>検証</td>
            <td>コードレビュー</td>
            <td>テストコード</td>
        </tr>
        <tr>
            <td></td>
            <td>単体テスト</td>
            <td>単体テスト報告書</td>
        </tr>
        <tr>
            <td></td>
            <td>結合テスト</td>
            <td>結合テスト報告書</td>
        </tr>
        <tr>
            <td></td>
            <td>システムテスト</td>
            <td>システムテスト報告書</td>
        </tr>
        <tr>
            <td>DR-2</td>
            <td>‐</td>
            <td>‐</td>
        </tr>
        <tr>
            <td>運用</td>
            <td>公開</td>
            <td>プロジェクト報告書、運用手順書</td>
        </tr>
    </table>
</div>
<p class="text-right">2017.01.28</p>

