
@{
    ViewBag.Title = "Index";
}

<h2>バージョン管理</h2>

<h3>目的</h3>
<p>
    プロジェクト毎に、ソフトウェアバージョンを管理する。
</p>

<h3>概要</h3>
<p>
    プロジェクト毎に、SourceTreeを用いてバージョン管理する。管理は以下の構成とする。開発人数に応じて作業用PCを増減する。
</p>

<img src="~/Image/gitRule.PNG"/>

<h3>規約</h3>
<ul>
    <li>リモートリポジトリは、feature、masterブランチを作成。</li>
    <li>ローカルリポジトリは、developブランチのみ作成。</li>
    <li>ローカルリポジトリのコミットコメントは、作業内容を記載。</li>
    <li>1機能完成する毎にタグをつけ、リモートへプッシュする。リモートにもタグをつける。</li>
    <li>タグは、「V▯.▯.▯／機能名」とする。</li>
    <li>バージョン番号の付け方は、以下の通りとする。
    <br /><img src="~/Image/versionNumber.PNG"></li>
    <li>プロジェクト終了後（masterブランチにマージ後）、ファイルのバックアップを作成し、リモート及びローカルリポジトリを両方とも削除する。</li>
</ul>

<h3>手順</h3>
<p>&lt; リモートリポジトリの作成&gt; </p>
<ol>
    <li>ファイルサーバーにフォルダを作成し、そのフォルダにリポジトリを作成する。（masterブランチが作成される。）</li>
    <li>featureブランチを作成する。（作成すると自動的にfeatureブランチがチェックアウトされる。）</li>
    <li>masterブランチをチェックアウトする。</li>
</ol>

<p>&lt; ローカルリポジトリの作成&gt; </p>
<ol>
    <li>作業用PC内にフォルダを作成する。</li>
    <li>リモートリポジトリをクローンする。（masterブランチが作成される。）</li>
    <li>masterブランチの名前をdevelopに変更し、リモートブランチの追跡を“origin／feature”に設定する。</li>
</ol>

<p>&lt;プル、プッシュ&gt; </p>
<ol>
    <li>リモートのfeatureブランチを、ローカルのdevelopにプルする。（リモートの最新状況が反映される。）</li>
    <li>作業用PCで作業し、コミットする。コミットコメントは、作業内容を記載する。</li>
    <li>1機能完成した段階のコミットをプッシュする。（リモートのfeatureに反映される。）
    <br />※コンフリクトが発生した場合、担当者間で相談して解消すること。</li>
    <li>プッシュしたコミットにタグをつける。タグは、「V▯.▯.▯／機能名」とする。</li>
</ol>

<p>&lt;開発、仕様変更完了後&gt; </p>
<ol>
    <li>リモートリポジトリのファイルをコピーし、適切な場所に保管する。</li>
    <li>ファイルサーバーのフォルダおよび作業用PCフォルダを削除する。</li>
</ol>

<p class="text-right">2016.09.08</p>