
@{
    ViewBag.Title = "Blog1";
}

<h2>Blog1</h2>
<hr />
<h4>会社に手順書って必要ですかね？</h4>
<p>
    就業規則、製造手順、開発規定、コーディング規約、品質マニュアルなど会社には色々な手順書が存在します。<br />
    呼び方は様々ですが、すべて会社ルールを記載した文書です。<br />
    手順書はなぜ必要なのでしょうか？今回はこのテーマを考えたいと思います。<br />
</p>
<p>
    記載中
</p>
<p>    
</p>

<p class="text-right">2017.01.30</p>
