@{
    ViewBag.Title = "Blog3";
}

<h2>Blog3</h2>
<hr />
<h4>会社の手順書が読まれない原因って何ですかね？</h4>
<p>
    業務が手順書を通りに行われない理由を調査すると↓の回答が得られました。<br />
    今回は、原因を考えていきます。<br />
    <ol>
        <li>手順書があること知らなかった。</li>
        <li>手順書を読む時間がない。</li>
        <li>手順書を読んでも作業内容がわからない。</li>
        <li>手順書を読む必要がない。</li>
    </ol>
</p>
<p>
    回答1：手順書があることを知らなかった。<br />
    そもそも論ですね。笑<br />
    原因は、手順書作成者が周知しなかったことが考えられます。<br />
    そんなことないだろうと思われるかもしれませんが、私は実体験であります。<br />
    手順書作成者に聞いたところ、“どうせ読まれないし”との回答。<br />
    切ないですね。。。<br />
    回答から察するに、以前は周知していたが今は、、、ということです。<br />
    つまり、読まれない→周知しなくなった（原因1）という構図ができました。<br />
    周知しているにも関わらず手順書読まない理由、、、<br />
    考えるまでもなく回答2、3、4が原因ですね。笑<br />
</p>
<p>
    回答2：手順書を読む時間がない。<br />
    “時間がない”“忙しい”は、面倒な時につかう大人の常套句ですね。笑<br />
    “時間がなくてもやれ！”と言っちゃう前に相手の立場に立って考えてみましょう。<br />
    「手順書を読む→作業→報告」と「作業→報告」、作業者はどちらが良いでしょうか？<br />
    成果物の品質が同じと仮定すれば後者の方が良いはずです。<br />
    さらに回答3を合わせ考えると、、、<br />
    手順書を読んでも作業内容がわからない→読まずに仕事した方が速いという思考になります。<br />
    手順書読まない人たちの気持ちがわかってきました。笑<br />
    以上から、原因は、1つの工程を省いたほうが作業スピードが速いためです。<br />
</p>
<p>
    回答3：手順書を読んでも作業内容がわからない。<br />
    ここでは次の原因が考えられます。<br />
    <ol>
        <li>手順書作成者と作業者が異なる。</li>
        <li>法律や規格（ISO、IEC、JISなど）の内容を転記している。</li>
        <li>手順書作成者が読み手のことを考えない。</li>
    </ol>
    原因1は、“あるある”ですね。笑<br />
    原因2は、ISO 9001、ISO13485、ISO/IEC 12207、IEC 62304など会社のルールについて要求してくる規格や法律から手順書を作る場合に発生します。<br />
    例えば、上記の規格には、“開発する際は、計画を立て文書化すること”という要求があります。<br />
    これをそのまま手順書に書くと、実務担当者に？が付きます。<br />
    計画といっても、日程、費用、試験など様々あります。<br />
    日程計画の中にも、ガントチャートで書く方法や、PERTでクリティカルパスがわかるように書く方法などがあります。<br />
    よって、手順書を読んで作業内容がわかるか？と問われればNoになります。<br />
    原因3は、専門用語を多用する、一般的ではない言葉を定義せずに使用する、他の手順書とレイアウトや見出し構成を変える、図を使わないなどです。<br />
    挙げだすときりがなさそうですね。笑
</p>
<p>
    回答4：手順書を読む必要がない。<br />
    原因は、手順書に記載された作業が非効率なためです。<br />
    この回答をする人は、一度手順書を読んだ上で、より効率的な方法に変えて作業しています。<br />
    これは、できる社員に多い傾向な気がします。<br />
    プレイヤーとしては優秀ですが、マネージャーのような管理職は向きそうにないですね。。。<br />
</p>
<p>
    最後に理由と原因を↓にまとめておきます。<br />
    原因が複合して問題が複雑化することもありますし、理由や原因はこれだけではないと思います。<br />
    情報が集まれば追記していくことにして、次は、対処方法を考えようと思います。<br />
</p>
<div>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">No.</th>
            <th class="text-center">手順書を読まない理由</th>
            <th class="text-center">原因</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>手順書があることを知らなかった。</td>
            <td>手順書作成者が周知しない。</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>手順書を読む時間がない。</td>
            <td>
                手順書を読む工程を省いたほうが作業スピードが速いため。<br />
                ※成果物の品質が同じと仮定した場合。
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td>手順書を読んでも作業内容がわからない。</td>
            <td>
                <ul>
                    <li>手順書作成者と作業者が異なる。</li>
                    <li>法律や規格（ISO、IEC,JISなど）の内容を転記している。</li>
                    <li>手順書作成者が読み手のことを考えない。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>4.</td>
            <td>手順書を読む必要がない。</td>
            <td>手順書に記載された作業内容が非効率。</td>
        </tr>
    </table>
</div>

<p class="text-right">2017.01.29</p>
