
@{
    ViewBag.Title = "Blog2";
}

<h2>Blog2</h2>
<hr />
<h4>会社の手順書通りに業務されていますか？</h4>
<p> 
    会社に手順書があり、手順書通りに業務が行われる。<br />
    非効率な作業を見直し、定期的に手順書が更新される。。。<br />
    いい会社ですね。笑<br />
    しかし、業務が手順書通りに行われないという問題を抱えていませんか？<br />
</p>
<p>
    業務が手順書を通りに行われない理由を調査すると↓の回答が。
    <ol>
        <li>手順書があること知らなかった。</li>
        <li>手順書を読む時間がない。</li>
        <li>手順書を読んでも作業内容がわからない。</li>
        <li>読む必要はない。</li>
    </ol>
</p>
<p>
    “あるある”回答頂きました。笑<br />
    業務マニュアルを作成されている方や社内コンプライアンスの重要性を理解している方からは、溜息か憤りの声が聞こえてきそうです。<br />
    ですが、ここで“読まないやつが悪い！”では事態は解決しません。<br />
    次は、原因を考えようと思います。<br />
</P>

<p class="text-right">2017.01.28</p>


